:root{
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--pessego-color);
  font-family:'Poppins', sans-serif;
}

html{
  font-size: 93.75%;
  --light-blue: #6495ed;
  --color-dark: #363f5f;
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
  --pessego-color: #f5d3cf;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container{
  width: min(90vw, 800px);
  margin: auto;
}

/* Global Titles styles */
h2{
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--color-dark);

  font-weight: normal;
}

/* Links and buttons */
a{
  color: var(--light-blue);
  text-decoration: none;
}

a:hover{
  color: var(--light-green) ;
}

button{
  width: 100%;
  height: 50px;

  border: none;

  color: white;
  background: var(--green);

  padding: 0;

  border-radius: 0.25rem;

  cursor: pointer;
}

button:hover{
  background: var(--light-green);
}

.button.new{
  display: inline-block;
  margin-bottom: .8rem;
}

.button.cancel{
  color: var(--red);
  border: 2px var(--red) solid;
  border-radius: 0.25rem;

  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.6;
}

.button.cancel:hover{
  opacity: 1;
}

/* Header */
header{
  text-align: center;
  background-color: var(--light-blue);
  padding: 2rem 0 10rem;
}
#logo{
  color: #fff;
  font-weight: 100;
}

/* Header - Input checkbox */
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label{
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after{
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: var(--color-dark);
}

input:checked + label::after{
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after{
  width: 45px;
}

/* Balance */
main #balance{
  margin-top: -8rem;
}

#balance h2{
  color: #fff;
  margin-top: 0;
}

/* Cards - Card que mostra os valores */
.card{
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;

  margin-bottom: 2rem;
  color: var(--color-dark);
}

.card h3{
  font-weight: normal;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p{
  font-size: 2rem;
  line-height: 3rem;

  margin-top: 1rem;
}

.card.total{
  background-color: var(--light-blue);
  color: white;
}

/* Table - Tabela das financas */
#transaction{
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table{
  
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

table thead tr th:first-child, 
table tbody tr td:first-child{
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child, 
table tbody tr td:last-child{
  border-radius:  0 0.25rem 0.25rem 0;
}

table th{
  background: white;
  opacity: 0.6;

  font-weight: normal;
  padding: 1rem 2rem;

  text-align: left;
}

table tbody tr{
  opacity: 0.7;
}

table tbody tr:hover{
  opacity: 1;
}

table td{
  background: white;

  padding: 1rem 2rem;
  
}

td.description{
  color: var(--color-dark);
}

td.income{
  color: #12a544;
}

td.expense{
  color: var(--red);
}

/* Modal */
.modal-overlay{
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  z-index: 999;
}

.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

.modal{
  background: #f0f2f5;
  padding: 2.4rem;
  
  position: relative;
  z-index: 1;
}

/* Form */
#form{
  max-width: 500px;
}

#form h2{
  margin-top: 0;
}

 input{
  border: none;
  border-radius: 0.2rem;

  padding: 0.8rem;
  width: 100%;
}

.input-group{
  margin-top: 0.8rem;
}

.input-group small{
  opacity: 0.4;
}

.input-group.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button{
  width: 48%;
}

/* Message positive/negative */
#message{
  position: relative;

  visibility: hidden;
  
}

.positive{
  background-color: var(--light-green);
  width: 25rem;
  height: 3.35rem;

  align-items: center;
  justify-content:center;

}
.positive h2{
  color: white;
  text-align: center;
}

.negative{
  background-color: var(--red);
  width: 25rem;
  height: 3.35rem;
}
.negative h2{
  color: white;
  text-align: center;
}

/* Footer - Rodapé da página */
footer{
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--color-dark);

  opacity: 0.6;
}

/* Responsive */
@media (min-width: 800px){
  html{
    font-size: 87.5%;
  }

  #balance{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}